<div class="container-fluid" style="height: 100vh;">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="h3 mb-0 text-gray-800 mt-3">Sheduler</h1>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Create New Shedule
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shedule new Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closebtn1">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" [formGroup]="shedulerForm">
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: black;">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: black;">Reminder shedule</label>
            <select class="form-control" formControlName="shedule">
                <option value="Every Day">Every day</option>
                <option value="Every Week">Every week</option>
                <option value="Every Month">Every Month</option>
              </select>
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="setShedule()">Submit</button>
        </form>
      </div>
     
    </div>
  </div>
</div>
    </div>
    <div class="row">
        <div class="card">
            <form action="" class="form-container">
                <div class="form-heading">


                    <h1>Email Sheduler</h1>
                    
                </div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="table">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef style="color: black;"> No. </th>
                        <td mat-cell *matCellDef="let element; let i = index;" style="color: black;"> {{i+1}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="color: black;"> Name </th>
                        <td mat-cell *matCellDef="let element" style="color: black;"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="shedule">
                        <th mat-header-cell *matHeaderCellDef style="color: black;"> Shedule Type </th>
                        <td mat-cell *matCellDef="let element" style="color: black;"> {{element.shedule}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Edit">
                        <th mat-header-cell *matHeaderCellDef style="color: black;"> Edit </th>
                        <td mat-cell *matCellDef="let element" style="color: black;"> <button class="btn btn-primary" (click)="editShedule(element)" type="button" data-toggle="modal" data-target="#deleteModal"> Edit</button></td>
                      </ng-container>
                      <ng-container matColumnDef="Delete">
                        <th mat-header-cell *matHeaderCellDef style="color: black;"> Delete </th>
                        <td mat-cell *matCellDef="let element" style="color: black;"> <button class="btn btn-danger"  (click)="deleteShedule(element)" type="button"> Delete</button></td>
                      </ng-container>
                  
                      
                      
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                   
                  </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closebtn">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" [formGroup]="shedulerEditForm">
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: black;">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: black;">Reminder shedule</label>
            <select class="form-control" formControlName="shedule">
                <option value="Every Day">Every day</option>
                <option value="Every Week">Every week</option>
                <option value="Every Month">Every Months</option>
              </select>
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="submitEditShedule()">Submit</button>
        </form>
      </div>
      
    </div>
  </div>
</div>