<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Repositories</h1>
        <!-- <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"> <a href="{{githubURL}}" style="color: white;">View github</a></button> -->
        <button type="button" class="btn btn-primary mt-3"> <a href="{{githubURL}}" style="color: white;" target="_blank">View github</a></button>

    </div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="data" class="table">
          
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="color: black;"> <h4>Id</h4></th>
                <!-- <td mat-cell *matCellDef="let element; let i = index;" style="color: black;"> {{i+1}} </td> -->
                <td mat-cell *matCellDef="let element; let i = index;" style="color: black;"> {{i+1}} </td>

              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="color: black;"><h4>Name</h4>  </th>
                <td mat-cell *matCellDef="let element" style="color: black;"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef style="color: black;"> <h4>Size</h4> </th>
                <td mat-cell *matCellDef="let element" style="color: black;"> {{element.size}} KB </td>
              </ng-container>
          
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef style="color: black;"> <h4>View</h4> </th>
                <td mat-cell *matCellDef="let element">  <button class="btn btn-success" ><a href="{{element.html_url}}" style="color: white;" target="_blank">Click</a></button> </td>

               
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
          </div>
    </div>
      
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>