<!-- <div class="container-fluid">
    <div class="row">
        <form action="" class="form-control">
            <div class="row justify-content-center">
                <div class="form-heading">
                    <h1>
                        Create New Local Repository
                    </h1>
                </div>
            </div>
            <div class="row">
                <label for="name">
                    Repository Name
                </label>
                <input type="text" name="name" id="name">
            </div>
            <div class="row">
                <label for="type">
                    Repository Type
                </label>
                <select name="type" id="">
                    <option value="1">Web Development</option>
                </select>
            </div>
            
               
                  
        </form>
    </div>
</div>
 -->


 <div id="wrapper" style="height: 100vh;">
        	
    <div id="subscribeBox">
        <h2><span class="thin">CREATE YOUR LOCAL REPOSOTIRIES</span></h2>
        <p style="color: red;" *ngIf="showRecco">Based on previous data its recommended that {{efforRequired}} Months are required for this project</p>
    
    <!-- Start Here: Web Form tutorial -->
    <form class="subscribeForm" name="Subscription Form" enctype="text/plain" [formGroup]="localRepositoryForm" autocomplete="off">
    
        <input id="name" type="text" placeholder="Project Name*" formControlName="name" required>
        <label for="exampleInputEmail1" style="color: grey;">Experience (Years)</label>

        <input id="Experience" type="number" placeholder="Project Area Experience*" formControlName="experience" required>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.experience > 10)">Its recommended that the value should be less than 10</p>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.experience < 0)">Its recommended that the value should be more than 0</p>

    <!-- Step 1: Add an email field here -->
    <label for="exampleInputEmail1" style="color: grey;">Duration (Months)</label>

        <input id="Duration" type="number" placeholder="Duration*" formControlName="duration" required>
        <p style="color: red;" *ngIf="localRepositoryForm.value.duration > 39 || localRepositoryForm.value.duration < 1">Its recommended that the value should be between 1 and 39</p>
        <label for="exampleInputEmail1" style="color: grey;">Effort (Per day how much hrs of work)</label>

        <input id="Effort" type="number" placeholder="Time required in hrs"  formControlName="effort" required>
        <label for="exampleInputEmail1" style="color: grey;">Entities (Data Models)</label>

        <input id="Entities" type="number" placeholder="Data modals used" name="entities" formControlName="entities" required>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.entities > 380)">Its recommended that the value should be less than 380</p>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.entities < 5)">Its recommended that the value should be more than 5</p>
        <label for="exampleInputEmail1" style="color: grey;">Functions</label>

        <input id="Functions" type="number" placeholder="Est total no of functions" formControlName="functions" required>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.functions > 1100)">Its recommended that the value should be less than 1100</p>
        <p style="color: red;" *ngIf=" (localRepositoryForm.value.functions < 70)">Its recommended that the value should be more than 70</p>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: grey;">Status</label>
            <select class="form-control" formControlName="status">
                <option value="In Progress">In Progress</option>
                <option value="Not Started">Not Started</option>
              </select>
          </div>
    <!-- Step 2: Add an address field here -->
    <!-- Step 3: add a submit button here -->
        <input id="submit" type="button" value="Create" (click)="createLocalRepo()">
              
    </form>
            
    </div> <!-- end subscribeBox -->
         