<div *ngIf="registerPage">
<app-register (loginPage)="showLogin()"></app-register>
</div>
<div *ngIf="!registerPage">
    <div class="circle"></div>
    <form class="form" autocomplete="off" [formGroup]="loginForm">
        <h2 class="form__title" style="color: black;">Welcome</h2>
        <p class="form__paragraph">Please Login in to continue</p>
        <h3 style="color: red;" *ngIf="showError">wrong credentials</h3>

        <div class="form__container">
            <div class="form__group">
                <input  type="email" id="email" class="form__input" placeholder=" " formControlName="userEmail" required>
                <label for="email" class="form__label">User Email:</label>
                <span class="form__line"></span>
            </div>
            <!-- <div class="form__group">
                <input type="text" id="user" class="form__input" placeholder=" ">
                <label for="user" class="form__label">Usuario:</label>
                <span class="form__line"></span>
            </div> -->
            <div class="form__group">
                <input type="password" id="password" class="form__input" placeholder=" "formControlName="password">
                <label for="password" class="form__label">Password:</label>
                <span class="form__line"></span>
            </div>
            <!-- <input type="submit" class="form__submit value="Entrar" /> -->
            <input type="button" class="form__submit" value="Login" (click)="checkUserDetails()">
        <p class="form__paragraph">If you are Please <a  (click)="showRegister()" class="form__link" style="cursor:pointer ;">Sign Up</a></p>

        </div>
    </form>

</div>


